*{
    font-family: 'Roboto';
}

.bodycontainer{
    margin: 0;
}

.header{
    display: flex;
    color: #F9FAF8;
/*     outline: 2px dotted red; */
    flex: auto;
    background-color: #1F2937;
    height: 300px;
    margin-top: 0;
    padding-left: 100;
    padding-right: 100;
}

.headerlogo{
    margin-top: 50;
    /* outline: 2px dotted red; */
    font-size: 24;
    margin-left: 280;
}
.headerlink {
    margin-top: 150;
    margin-left: 50;
    display: flex;
    flex-direction: row;
    flex: auto;
    color: #E5E7EB;
/*     outline: 2px solid blue; */
    background-color: #1F2937;
    height: 20px;
    font-size: 20;
    font-weight: 300;
    
}

.link{
    padding-left: 20;
}
.hero{
    display: flex;
    color: #F9FAF8;
/*     outline: 2px dotted red; */
    flex: auto;
    background-color: #1F2937;
    height: 500px;
    align-items: center;
    justify-content: space-between;
    font-size: 48;
    padding-left: 100;
    padding-right: 100;
}

.herotext{
/*     outline: 2px dotted red; */
    margin-right: -50;
    height: 200;
    width: 400;
}

.subherotext{
    margin-top: 20;
    margin-bottom: 20;
    color: #E5E7EB;
    font-size: 18;
    font-weight: 300;
}

.button{
    margin-top: 10;
    font-size: 18;
    width: 130;
    height: 40;
    color: #F9FAF8;
    border-radius: 6px;
    background-color: #3882F6;
    border-style: none;
}

.info{
    display: flex;
    color: #F9FAF8;
/*     outline: 2px dotted red; */
    flex: auto;
    flex-direction: column;
    background-color: white;
    height: 400px;
    align-items: center;
    font-size: 48;
    padding-left: 100;
    padding-right: 100;

}

.info2{
    display: flex;
    color: #F9FAF8;
/* outline: 2px dotted red; */ */
    flex: auto;
    flex-direction: column;
    background-color: white;
    height: 400px;
    align-items: center;
    font-size: 48;
    padding-left: 100;
    padding-right: 100;
    margin-top: -90;

}

.rando{
    color: #1F2937;
    font-size: 36;
    font-weight: bold;
    margin-top: 50;
}

.illustrations{
    display: flex;
}

.set {
    display: flex;
    flex-direction: column;
    height: 300;
    width: 150;
    margin: 40;
    justify-self: center;
    align-items: center;
}
.pic {
    display: flex;
    border-radius: 10px;
    border: solid #3882F6;
}
.caption{
    font-size: 18;
    color: grey;
    margin-top: 10;
    font-weight: 350;

}

.quoterow{
    display: flex;
    height: 200px;
    padding-left: 100;
    padding-right: 100;
    background-color: #E5E7EB ;
    justify-content: center;
    align-items: center;
}
.quotebox{
    display: flex;
    flex-direction: column;
    padding-left: 100;
    padding-right: 100;
}

.quote{
    color: #1F2937;
    font-size: 36;
    font-weight: 300;
    font-style: italic;
}

.author{
    color: #1F2937;
    font-size: 20;
    font-weight: 500;
    align-self: last baseline;
}

.actionrow{
    display: flex;
    height: 300px;
    padding-left: 100;
    padding-right: 100;
    background-color: white ;
    justify-content: center;
}

.actionContainer{
    display: flex;
    border-radius: 6px;
    background-color: #3882F6;
    width: 900;
    height: 100;
    align-self: center;
    justify-content: center;


}

.actionContent{
    display: flex;
/*     outline: 2px dotted red; */
    width: 550;
    justify-content: space-between;
    align-items: center;
}
.actiontext{

}

.actionText1{
    color: white;
}

.actionText2{
    color: #E5E7EB;
    font-size: 12;
    font-weight: 350;
}
.white{
    border: 1.5px solid;
    border-color: white;
    height: 30;
    width: 90;
    font-size: 12;

}